@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto; }

hr,
h1,
h2,
h3,
h4,
h5 {
  margin: 0; }

.swal-text {
  text-align: center;
}

.swal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}